* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font: 1rem sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

#btn-login {
    background: rgb(0 100 255 / .7);
    color: #fff;
    padding: 10px;
    border-radius: .25rem;
    cursor: pointer !important;
    text-transform: capitalize;
    font-weight: bold;
    transform: scale(1.2);
}

#btn-login:active {
    background: rgb(0 100 0 / .7);
}

@keyframes open-form {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

form {
    width: 400px;
    height: auto;
    position: fixed;
    background: #fbfbfb;
    box-shadow: 0 0 3px 1px rgb(0 0 0 / .5);
    border-radius: .25rem;
    animation: open-form 200ms linear 0s 1 normal forwards;
    transform: scale(0);
    text-transform: capitalize;
    display: none;
    grid-template: auto / 1fr;
    overflow: hidden;
}

.close {
    width: 50px;
    height: 50px;
    margin-left: auto;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: #000;
}

.close i {
    font-size: 1.7rem;
}

.close:hover {
    background: rgb(220 220 220);
}


form>i[class*=fa-user] {
    width: 150px;
    height: 150px;
    border-radius: 9999px;
    margin: 0 auto;
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

form img+label {
    margin-top: 50px;
}

form label {
    margin: 10px 10px 0 10px
}

form input {
    margin: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}

/* remember */
form section.remember {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

form section.remember * {
    margin: 0;
    padding: 0;
}

/* end-remember */

form label {
    user-select: none;
}

/* password */
form>div {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

form>div>label[for=unHidePass] {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

form>div>#unHidePass {
    display: none;
}

form>div>#unHidePass:checked+label::after {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: "\f06e";
}

form>div>#unHidePass:not(:checked)+label::after {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: "\f070";
}

/* end-password */

/* login button */
form>button[type=submit] {
    margin: 10px;
    padding: 10px;
    color: #fff;
    background: green;
    cursor: pointer;
    font-weight: bold;
}

form>button[type=submit]:hover {
    background: rgb(82, 82, 82);
}

/* end-login button */

/* section */
form section:last-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 10px;
    align-items: center;
    padding: 10px;
    padding-bottom: 20px;
    background: rgb(100 100 100/ .1);
}

form section>button:hover {
    background: green;
}

form section>button {
    width: fit-content;
    padding: 10px 15px;
    background: red;
    border-radius: .25rem;
    cursor: pointer;
    color: #fff;
    text-transform: capitalize;
}

/* end-section */

@media only screen and (max-width:400px) {
    form {
        width: 95%;
    }
}